body {
	font-family: Josefin Sans, sans-serif;
	background: url("images/toad.jpg") no-repeat top fixed;
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
	margin-top: 0;
	padding: 0;
	margin: 0;
}
h1{
	font-family: Jost;
	color: #F7EAC9;
	font-size: 150px;
	text-align: center;
	margin: 0px 200px;
	margin-top: 50px;
	margin-bottom: 50px;
	line-height: 190px;
}
#logo {
	margin-right: 30px;
	float: right;
}
#nav1 {
	margin-right: 1350px;
	margin-left: 40px;
	margin-top: 30px;
}
h3 {
	background-color: #F7EAC9;
	color: #6B3648;
	text-align: center;
	font-size: 15px;
	margin-bottom: 20px;
	padding: 10px;
}
#box2 {
	background-color: #F7EAC9;
	border: 1px solid #F7EAC9;
	color: #505D36;
}
#title1 {
	margin-right: 950px;
	text-align: right;
}
h2 {
  	font-family: semi-bold, Playfair Display, serif;
	font-size: 70px;
	font-weight: 700;
	margin: 30px 150px;
	margin-top: 100px;
	margin-bottom: 100px;
	}
#banner {
	margin: 100px 300px;
}
#line1 {
	width: 800px;
	margin-left: -230px;
	margin-top: -90px;
}
#box2subhead {
	margin: 100px 300px;
	font-size: 35px;
}
#box2paragraph {
	margin: 50px 300px;
	line-height: 22px;
	font-size: 18px;
}
#box3 {
	background-color: white;
	border: 1px solid white;
	color: #44232E;
	height: 1100px;
}
#title2 {
	margin-right: 950px;
	text-align: right;
}
#line2 {
	width: 800px;
	margin-left: -230px;
	margin-top: -90px;
}
#content {
	margin: 50px 300px;
}
#donatebox {
	margin: 50px 0px;
}
#donateboxtitle {
	font-size: 18px;
}
#money {
	font-size: 40px;
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}
#paymentbox{
	margin-top: 100px;
}
#paymentboxs{
	display: flex;
}
#paymentboxtitle {
	font-size: 18px;
}
#quadbox {
	width: 320px;
	background-color: #C8D38F;
	padding: 50px;
}
#box {
	background-color: #6B3648;
	color: white;
	width: 100px;
	padding: 20px;
	text-align: center;
}
#boxx {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
#boxxx {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
#creditbox {
	text-align: center;
}
#paybox1 {
	border: 1px solid #6B3648;
	margin-right: 60px ;	
}
#paybox2 {
	border: 1px solid #6B3648;
}
#quadbox2 {
	width: 320px;
	height: 170px;
	background-color: #C8D38F;
	padding: 50px;
}
#boxx2 {
	text-align: center;
	background-color: #6B3648;
	color: white;
	padding: 60px;
	margin: 20px;
}
#paypalbox {
	text-align: center;
}
#submitbox {
	color: #F7EAC9;
	background-color: #44232E;
	padding: 10px;
	text-align: center;
	margin: 50px 280px;
}
#box4 {
	background-color: #505D36;
	border: 1px solid #505D36;
	opacity: 85%;
	color: #F7EAC9;
	height: 520px;
}
#line3 {
	width: 620px;
	margin-right: 0px;
	margin-top: -90px;
}
#jointoday {
	text-align: left;
	margin-left: 900px;
}
blockquote {
	margin: 50px 300px;
	font-family: Playfair Display;
	font-size: 38px;
	text-align: center;
}
#box5 {
	background-color: #F7EAC9;
	opacity: 95%;
	border: 1px solid #F7EAC9;
	text-align: center;
}
#mailingbox {
	margin: 50px 520px;
}
#tagname {
	text-align: left;
	margin-left: 35px;
}
footer {
	background-color: #44232E;
	border: 1px solid #44232E;;
	height: 325px;
}
#logontext{
	display: flex;
	justify-content: center;
	padding: 50px;
	margin: 30px 150px;
}
#textsection {
	display: flex;
	justify-content: space-around;
	text-align: left;
}
#footerlogo {
	margin-right: 50px;
	margin-top: 40px;
}
a:link {
  color: #F7EAC9;
  text-decoration: none;
}
a:visited {
	color: #F7EAC9;
	text-decoration: none;
}
a:hover {
  color: #F7EAC9;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #505D36;
  background-color: transparent;
  text-decoration: underline;
}